.weightPageContainer {
    display: grid;
    grid-template-areas: 
    'table  table   filter  stats   stats'
    'table  table   filter  stats   stats'
    'table  table   filter  stats   stats'
    'graph  graph   graph   graph   graph'
    'graph  graph   graph   graph   graph';
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(5, 1fr);
}

.weightEntryTable {
    display: flex;
    align-items: stretch;
    border-color: white;
    background-color: rgba(255, 0, 0, 0.062);
    grid-area: table;
}

.tableHeaderRow {
    background-color: blue;
}

.weightEntryTableHeaderDate {
    padding-right: 50px;
}

.weightEntryTableHeaderWeight {
    margin-right: 50%;
}

.weightEntryBox {
    display: flex;
    border-color: white;
    border-width: 1px;
    gap: 20px;
    width: 100%;
    align-items: stretch;
    align-content: space-evenly;
    justify-content: flex-start;
}

.weightEntryGraphContainer {
    grid-area: graph;
    align-content: center;
    justify-content: center;
}

.weightEntryGraph {
    background-color: white;
    height: 100%;
    align-items: center;
    border-width: 1px;
}

.filterBoxContainer {
    background-color: blue;
    grid-area: filter;
    height: 100%;
}





.statisticsContainer {
    background-color: darkseagreen;
    grid-area: stats;
}